.assortment__list {
  .clear-list;
}

.assortment__item {
  background-color: @light-green;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @white;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-left: 30px;
}

.assortment__item {
  &--toys {
    background-color: @dark-green;
  }
}
