.assortment__wrapper {
  margin: 0 auto;
  width: 100%;
}

.assortment__list {
  .clear-list;
}

.assortment__link {
  display: block;
  position: relative;
  background-color: @light-green;
  .font-700-19-24;
  padding: 24px 90px 31px 30px;
  color: @white;

  &--interior {
    background-image: url("../img/assortment-interior.svg");
    background-repeat: no-repeat;
    background-position: top 23px right 36px;
  }

  &--toys {
    background-color: @dark-green;
    background-image: url("../img/assortment-toys.svg");
    background-repeat: no-repeat;
    background-position: top 21px right 27px;
  }
}

@media (min-width: @tablet-width) {
  .assortment__wrapper {
    width: 100%;
  }

  .assortment__list {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .assortment__link {
    .font-700-20-30;
    padding: 24px 90px 44px 36px;

    &:hover {
      top: -5px;
      padding: 24px 0 36px 35px;
      margin-bottom: -5px;
    }

    &--interior {
      background-position: top 28px right 36px;
    }

    &--toys {
      background-position: top 30px right 32px;
    }
  }
}

@media (min-width: @desktop-width) {
  .assortment__wrapper {
    max-width: @desktop-width;
  }

  .assortment__link {
    padding-bottom: 50px;
  }
}
