.assortment__list {
  .clear-list;
}

.assortment__item {
  position: relative;
  background-color: @light-green;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: @white;
  padding: 24px 0 31px 30px;

  &:hover {
    top: -5px;
    padding: 24px 0 36px 30px;
    margin-bottom: -5px;
  }

  &--toys {
    background-color: @dark-green;
  }
}


