.best-product {
  background-image: url("../img/zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 6px;
}

.best-product__wrapper {
  position: relative;
  width: @mobile-width-padding30;
  margin: 0 auto;
  padding: 31px 30px 40px 30px;
}

.best-product__title {
  .font-700-25-30;
  margin: 0;
}

.best-product__subtitle {
  .font-700-17-24;
  text-transform: uppercase;
  color: @light-green;
  margin-top: 3px;
  margin-bottom: 15px;
}

.best-product__subtitle-hyphenation {
  display: none;
}

.best-product__description {
  .font-15-24;
  color: @light-black;
  margin: 0;
  margin-bottom: 26px;
}

.best-product__image {
  display: block;
  text-align: center;
  margin: 28px 0 25px 0;
}

.best-product__price {
  display: block;
  .font-700-17-24;
  text-align: center;
  color: @light-black;
  margin-bottom: 24px;
}

.best-product__order-button {
  padding: 15px 70px;
  box-sizing: border-box;
}

@media (min-width: @tablet-width) {
  .best-product {
    background-size: auto 17px;
  }

  .best-product__wrapper {
    width: @tablet-width-padding50;
    margin: 0 auto;
    padding: 42px 50px 66px 50px;
  }

  .best-product__description-wrapper {
    width: 292px;
  }

  .best-product__header {
    display: flex;
    justify-content: space-between;
  }

  .best-product__title {
    .font-700-43-50;
  }

  .best-product__subtitle {
    line-height: 17px;
    text-align: center;
    margin: 6px 28px 0 0;
  }

  .best-product__subtitle-hyphenation {
    display: block;
  }

  .best-product__description {
    margin: 38px 0 48px 0;
    .font-17-30;
  }

  .best-product__image {
    position: absolute;
    margin: 0;
    bottom: 66px;
    right: 50px;
    width: 334px;
    height: 404px;
  }

  .best-product__price {
    margin: 58px 0 32px -2px;
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .best-product {
    background-size: auto 23px;
  }

  .best-product__wrapper {
    width: @desktop-width-padding50;
    margin: 0 auto;
  }

  .best-product__description-wrapper {
    margin: 0 0 33px 175px;
  }

  .best-product__description {
    margin-bottom: 58px;
  }

  .best-product__price {
    margin-top: 112px;
  }

  .best-product__header {
    position: relative;
    z-index: 2;
    margin-left: 36px;
    margin-top: 74px;
    width: @tablet-width-padding50;
  }

  .best-product__image {
    z-index: 1;
    width: 525px;
    height: 636px;
    top: 54px;
    right: 50px;
  }

  .best-product__title {
    order: 2;
    font-size: 53px;
    line-height: 57px;
  }

  .best-product__subtitle {
    order: 1;
    margin-left: 10px;
  }
}
