.best-product__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 31px 30px 36px 30px;
}

.best-product__title {
  .bold-big-font;
  margin: 0;
}

.best-product__subtitle {
  .bold-middle-middle-font;
  text-transform: uppercase;
  color: @light-green;
  margin: 3px 0 0 0;
}

.best-product__description {
  font-size: 15px;
  line-height: 24px;
  color: @light-black;
  margin: 17px 0 28px 0;
}

.best-product__image {
  display: block;
  text-align: center;
  margin: 28px 0 25px 0;
}

.best-product__price {
  display: block;
  .bold-middle-big-font;
  text-align: center;
  color: @light-black;
  margin-bottom: 24px;
}
