.choice {
  display: flex;
  align-items: center;
  margin-bottom: 13px;

  input {
    &:checked + .choice__mark::after {
      opacity: 1;
    }
  }

  &:hover {
    .choice__mark {
      border-color: @green-border-color;
    }
  }

  &:active {
    .choice__mark {
      border-color: @black03;
    }
  }

  &--checkbox {
    margin-bottom: 21px;
  }
}

.choice__mark {
  position: relative;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid @light-black;
  margin-right: 18px;

  &::after {
    position: absolute;
    right: 50%;
    bottom: 50%;
    background-color: @green-border-color;
    transform: translate(50%, 50%);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    content: "";
    opacity: 0;
  }

  &--checkbox {
    border-radius: 0%;
    margin-right: 23px;

    &::after {
      background-image: url("../img/checkmark.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: transparent;
      width: 100%;
      height: 100%;
      background-size: 70%;
      border-radius: 0%;
    }
  }
}

@media (min-width: @tablet-width) {
  .choice {
    margin-bottom: 25px;
  }

  .choice__hyphenation {
    display: none;
  }

  .choice__mark {
    width: 47px;
    height: 47px;

    &--checkbox {
      margin-right: 16px;
    }
  }

  .choice__label {
    .font-700-19-18;
    margin-left: 10px;
  }
}

@media (min-width: @tablet-width) {
  .choice__label {
    margin-left: 12px;
  }
}
