.contacts {
  padding-top: 38px;
  padding-bottom: 39px;
}

.contacts__list {
  font-size: 14px;
  line-height: 30px;
  color: @light-black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 28px;
  padding-bottom: 20px;
}

.contacts__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 42px;
}

.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding-left: 30px;
}

.contacts__map {
  display: block;
  padding-bottom: 41px;
}

.contacts__feedback-button {
  margin-left: 30px;
}
