.contacts {
  padding: 38px 30px 39px 30px;
}

.contacts__list {
  font-size: 14px;
  line-height: 30px;
  color: @light-black;
  margin: 28px 0 20px 0;
  padding: 0;
}

.contacts__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 42px;
}

.contacts__title {
  .bold-big-font;
  margin: 0 0 28px 0;
}

.contacts__map {
  padding: 227px 0 227px 0px;
  margin: 0 -30px 41px -30px;
}

.contacts__map-wrapper {
  background-image: url("../img/map-mobile.jpg"), url("../img/map-mark-mobile.svg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts__email {
  text-decoration: none;
  color: @light-black;
  border-bottom: 1px solid @green-border-color;

  &:hover {
    color: @email-hover-active-color;
  }

  &:active {
    color: @email-hover-active-color;
    border-bottom: 1px solid @email-hover-active-color01;
  }
}
