.contacts__wrapper {
  position: relative;
  padding: 38px 0;
}

.contacts__data-wrapper {
  width: @mobile-width-padding30;
  padding: 0 30px;
  margin: 0 auto 64px 0;
}

.contacts__list {
  .font-14-30;
  color: @light-black;
  margin: 28px 0 20px 0;
  padding: 0;
}

.contacts__item {
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  margin-bottom: 30px;
}

.contacts__title {
  .font-700-25-30;
  margin-top: 0;
  margin-bottom: 28px;
}

.contacts__map-wrapper {
  position: relative;
  height: 454px;
  background-image: url("../img/map-mobile.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  margin-bottom: 41px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/map-mobile@2x.jpg");
    background-size: 100% auto;
  }
}

.contacts__mark {
  position: absolute;
  color: @mark-color;
  top: 32%;
  left: 43%;
}

.contacts__email {
  text-decoration: none;
  padding-left: 2px;
}

.contacts__email-title {
  color: @light-black;
  border-bottom: 1px solid @green-border-color;

  &:hover {
    color: @email-hover-active-color;
  }

  &:active {
    color: @email-hover-active-color;
    border-bottom: 1px solid @email-hover-active-color01;
  }
}

.contacts__adress {
  padding-left: 2px;
  font-style: normal;
}

.contacts__button-wrapper {
  text-align: center;
}

.contacts__button {
  width: auto;
  padding: 14px 54px;
}

@media (min-width: @tablet-width) {
  .contacts {
    background-image: url("../img/flag.svg");
    background-repeat: no-repeat;
    background-position: top 48px right 52px;
  }

  .contacts__wrapper {
    padding: 70px 0 56px 0;
  }

  .contacts__data-wrapper {
    padding: 0 50px;
    width: @tablet-width-padding50;
    margin: 0;
  }

  .contacts__map-wrapper {
    height: 457px;
    margin-bottom: 54px;
    background-image: url("../img/map-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-tablet@2x.jpg");
      background-size: 100% auto;
    }
  }

  .contacts__mark {
    top: 30%;
    left: 47%;
  }

  .contacts__title {
    .font-700-43-50;
    margin-bottom: 49px;
  }

  .contacts__item {
    grid-template-columns: 0.9fr 3fr;
  }

  .contacts__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 17px;
  }

  .contacts__button {
    padding: 14px 39px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    background-position: top 132px left 113px;
    width: @desktop-width;
    margin: 0 auto;
  }

  .contacts__wrapper {
    padding-bottom: 100px;
  }

  .contacts__data-wrapper {
    padding: 82px 0 0 224px;
    margin: 0;
    max-width: 300px;
  }

  .contacts__title {
    .font-700-53-57;
    max-width: 300px;
    margin-bottom: 35px;
  }

  .contacts__map-wrapper {
    position: absolute;
    background-image: url("../img/map-desktop.jpg");
    top: 71px;
    right: 50px;
    width: 527px;
    height: 457px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/map-desktop@2x.jpg");
      background-size: 527px auto;
    }
  }

  .contacts__mark {
    top: 32%;
    left: 46%;
  }

  .contacts__list {
    display: flex;
    flex-direction: column;
    width: 330px;
    margin: 0;
  }

  .contacts__button {
    padding: 16px 37px;
    max-width: 230px;
    margin-top: 76px;
  }

  .contacts__button-wrapper {
    text-align: start;
    margin: -22px 0 0 225px;
  }
}
