.copyright__text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  margin: 0;
}

.copyright__link {
  text-decoration: none;
  color: @light-green;
  margin-left: 27px;
  padding-top: 5px;
}