.header {
  display: flex;
  align-items: center;
  padding: 22px 31px 22px 116px;
}

.header__logo {
  display: block;
  margin-right: 67px;
}

.header__menu-toggle {
  width: 20px;
  height: 14px;
  border: 0;
  background-image: url("../img/menu-toggle.svg");
  background-color: @white;
}
