.header {
  position: relative;
}

.header__logo {
  display: block;
  text-align: center;
  padding: 22px 0 22px 0;
}

.header__menu-toggle {
  position: absolute;
  top: 32px;
  right: 31px;
  width: 20px;
  height: 14px;
  border: 0;
  background-image: url("../img/menu-toggle.svg");
  background-color: @white;
}
