.main-welcome-group__wrapper {
  padding: 73px 0 120px 0;
  background-image: url("../img/main-welcome-background.jpg");
  background-position: 100% 20%;
}

.main-welcome-group__title {
  .bold-bigger-font;
  text-align: center;
  margin: 0;
}
