.main-welcome-group__wrapper {
  margin: 0 auto;
  background-color: @welcome-background-color;
  max-width: @desktop-width-max;
  background-image: url("../img/main-welcome-background.jpg");
  background-size: auto;
  background-position: center top -17px;
  background-repeat: no-repeat;
}

.main-welcome-group__title {
  .bold-bigger-font;
  text-align: center;
  margin: 0;
  padding: 73px 0 120px 0;
}

@media (min-width: @tablet-width) {
  .main-welcome-group__hyphenation {
    display: none;
  }

  .main-welcome-group__title {
    padding: 85px 0 372px 0;
  }

  .main-welcome-group__wrapper {
    background-size: auto 123%;
  }
}

@media (min-width: @desktop-width) {
  .main-welcome-group__title {
    padding: 32px 0 355px 0;
  }
}
