.order-form {
  width: 100%;
}

.order-form__fields {
  margin: 29px 0 0 0;
}

.order-form__main-wrapper {
  margin: 0 auto;
  width: @mobile-width-padding30;
  padding: 4px 30px 52px 30px;
}

.order-form__legend {
  position: relative;
  padding: 0;
  width: 100%;
  color: @light-green;
  text-transform: uppercase;
  .font-700-17-16;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    width: 200px;
    background-color: @green-border-color;
  }

  &--radios::after {
    margin-left: 25px;
  }

  &--checkboxes::after {
    margin-left: 16px;
  }

  &--fullname::after {
    margin-left: 19px;
  }

  &--phone::after {
    margin-left: 30px;
  }

  &--email::after {
    width: 182px;
    margin-left: 20px;
  }

  &--additional-info::after {
    margin-left: 22px;
  }
}

.order-form__fieldset {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;

  &--additional-info {
    padding-top: 22px;
  }
}

.order-form__description {
  .font-13-24;
}

.order-form__radios,
.order-form__checkboxes {
  .clear-list;
  .font-700-17-18;
}

.order-form__radios {
  margin: 32px 0 30px 0;
}

.order-form__checkboxes {
  margin: 25px 0 33px 0;
}

.order-form__client-names {
  margin-top: 7px;
}

.order-form__client-name {
  margin-top: 28px;

  &--surname {
    margin-top: 20px;
  }

  &--patronymic {
    margin-top: 20px;
  }
}

.order-form__phone,
.order-form__email,
.order-form__additional-info {
  margin-top: 34px;
}

.order-form__warning {
  .font-14-16;
  margin-bottom: 30px;
}

.order-form__fieldset-wrapper {
  &--contacts {
    margin-top: 32px;
  }
}

@media (min-width: @tablet-width) {
  .order-form__main-wrapper {
    width: 100%;
    padding: 54px 0 50px 0;
  }

  .order-form__fields {
    margin-top: 13px;
  }

  .order-form__description {
    .font-17-30;
    margin: 0 50px 0 50px;
  }

  .order-form__fieldset {
    margin-left: 203px;
    padding: 50px 50px 50px 0;

    &--radios {
      padding-bottom: 23px;
    }

    &--fullname {
      padding-top: 27px;
      margin-left: 217px;
    }

    &--contacts {
      padding: 12px 48px 12px 12px;
    }

    &--additional-info {
      padding-top: 60px;
      margin-left: 217px;
    }
  }

  .order-form__fieldset-wrapper {
    background-color: @gray;
  }

  .order-form__legend {
    position: absolute;
    left: -154px;

    &::after {
      display: none;
    }

    &--radios {
      top: 30%;
    }

    &--checkboxes {
      top: 21%;
    }

    &--fullname {
      top: 16%;
      left: -166px;
    }

    &--phone,
    &--email {
      left: -166px;
    }

    &--additional-info {
      top: 44%;
      left: -168px;
    }
  }

  .order-form__client-names {
    margin-top: 0;
  }

  .order-form__client-name:first-child {
    margin-top: 0;
  }

  .order-form__radios,
  .order-form__checkboxes {
    margin: 0;
    margin-left: 16px;
  }

  .order-form__checkboxes {
    display: grid;
    grid-template-columns: 1fr 0.9fr;
  }

  .order-form__ending {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
  }

  .order-form__warning {
    order: 2;
    .font-17-30;
    margin: 0;
    margin-top: 13px;
  }

  .order-form__submit-button {
    order: 1;
    .font-700-17-16;
    width: auto;
    height: auto;
    padding: 18px 30px;
  }
}

@media (min-width: @desktop-width) {
  .order-form__main-wrapper {
    padding-top: 98px;
  }

  .order-form__radios,
  .order-form__checkboxes {
    margin-left: 0;
  }

  .order-form__fieldset {
    margin: 0 auto;
    padding: 50px 0;
    max-width: 700px;

    &--radios {
      margin: 0 auto;
      padding: 50px 0 24px 0;
    }

    &--checkboxes {
      margin: 0 auto;
      padding: 50px 0 50px 86px;
    }

    &--fullname {
      padding-top: 24px;
    }

    &--contacts {
      padding-top: 14px;
    }

    &--additional-info {
      padding-top: 20px;
      padding-bottom: 48px;
    }
  }

  .order-form__legend {
    &--radios {
      top: 30%;
      left: -114px;
    }

    &--checkboxes {
      top: 28%;
      left: -30px;
    }

    &--fullname {
      top: 16%;
      left: -114px;
    }

    &--phone,
    &--email {
      left: -114px;
    }

    &--additional-info {
      top: 19%;
      left: -116px;
    }
  }

  .order-form__description {
    width: 702px;
    margin: 0 auto;
  }

  .order-form__checkboxes {
    display: grid;
    width: 786px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .order-form__ending {
    width: 700px;
    margin: 0 auto;
  }
}
