.order-form {
  padding: 17px 30px 55px 30px;
}

.order-form__description {
  .small-font;
  color: @light-black;
  margin-top: 0 0 29px 0;
}

.order-form__warning {
  font-size: 14px;
  line-height: 16px;
}
