.product-type__title {
  .bold-middle-smaller-font;
  color: @light-green;
  text-transform: uppercase;
}

.product-type__label {
  .bold-middle-small-font;
}

.product-type__list {
  .clear-list;
}

.product-type__wrapper {
  display: flex;
  flex-direction: column;
}
