.product-features {
  color: @light-black;
}

.product-features__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 12px;
  padding-bottom: 13px;
  border-bottom: 1px solid @light-gray;
}

.product-features__title,
.product-features__description {
  margin: 0;
}
