.products {
  width: 100%;
}

.products__list {
  .clear-list;
  margin-top: 30px;
}

.products__card {
  width: @mobile-width-padding30;
  border: 1px solid @light-gray;
  margin: 0 auto 30px auto;

  &:hover {
    box-shadow: 0 6px 10px @black01;
  }

  &:active {
    box-shadow: 0 3px 5px @black01;
  }
}

.products__link {
  text-decoration: none;
  cursor: pointer;
}

.products__image {
  display: block;
}

.products__title {
  .font-700-17-24;
  margin: 0;
  color: @black;

  &:hover {
    color: @black06;
  }

  &:active {
    color: @black03;
  }

  &--big-toy-basket {
    margin-top: -2px;
  }
}

.products__text-description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 27px;
}

.products__description {
  .font-13-30;
  color: @light-black;
  margin: 0;
  margin-top: 5px;
  padding-bottom: 17px;
}

.products__price {
  display: block;
  margin-top: 3px;
  margin-bottom: 0;
  max-width: 180px;
}

.products__cart-icon {
  position: absolute;
  right: 0;
  top: 22px;
  fill: @black02;
}

.products__add-to-cart-button {
  position: relative;
  display: block;
  text-decoration: none;
  padding-top: 22px;
  color: @black;
  cursor: pointer;
  font-weight: 700;
  border-top: 1px solid @light-gray;

  &:hover {
    color: @black06;

    .products__cart-icon {
      fill: @light-green;
    }
  }

  &:active {
    color: @black03;

    .products__cart-icon {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .products__list {
    margin-top: 65px;
  }

  .products__card {
    width: @tablet-width-padding50;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 53px;
  }

  .products__text-description {
    padding-left: 33px;
  }

  .products__image {
    width: 334px;
    height: 334px;
  }

  .products__title {
    font-size: 20px;
  }

  .products__description {
    margin-bottom: auto;
    border: 0;
    font-size: 15px;
  }

  .products__price {
    font-size: 17px;
  }
}

@media (min-width: @desktop-width) {
  .products__card {
    display: flex;
    flex-direction: column;
    width: 316px;
    margin-bottom: 57px;
  }

  .products__list {
    width: @desktop-width-padding50;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 51px;
    margin: 111px auto 0 auto;
  }

  .products__image {
    width: 315px;
    height: 462px;
  }

  .products__description {
    margin-bottom: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .products__text-description {
    padding-left: 27px;
  }

  .products__price {
    margin-top: 0;
    margin-left: -2px;
  }
}
