.reviews {
  padding-left: 30px;
  padding-right: 30px;
}

.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.reviews__text {
  font-size: 15px;
  line-height: 30px;
  color: @light-black;
}

.reviews__user-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.reviews__user-nick {
  font-size: 17px;
  line-height: 30px;
}

.reviews__toggles {
  display: flex;
  margin-bottom: 38px;
}

.reviews__toggle {
  width: 128px;
  height: 50px;
  border: 1px solid @light-gray;
  background-color: @white;
  background-repeat: no-repeat;
  background-position: center;
  &--before {
    background-image: url("../img/review-toggle-arrow-before.svg");
    background-position: center;
  }
  &--after {
    background-image: url("../img/review-toggle-arrow-after.svg");
  }
}
