.social__list {
  .clear-list;
  display: flex;
  justify-content: center;
  padding: 28px 30px 26px 30px;
  border-bottom: 1px solid @grey-border-color;
}

.social-item {
  align-self: center;
}

.social__link {
  text-decoration: none;
  color: @social-color;

  &--vkontakte {
    margin-right: 29px;
  }

  &--telegram {
    margin-left: 29px;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    border: 0;
  }
}
