.social__list {
  .clear-list;
  display: flex;
  justify-content: center;
  padding: 25px 0 28px 0;
}

.social__link {
  text-decoration: none;
  color: @social-color;
}

.copyright__link {
  text-decoration: none;
  color: @light-green;
}
