.social__list {
  .clear-list;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  justify-content: center;
  gap: 34px;
  align-items: center;
  border-bottom: 1px solid @gray-border-color;
  padding-bottom: 28px;
  margin: 0 auto;
}

.social-item {
  align-self: center;
}

.social__link {
  display: block;
  text-decoration: none;
  fill: @social-color;

  &--youtube {
    margin-left: -2px;
  }

  &:hover {
    fill: @email-hover-active-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link-icon {
  display: block;
}

@media (min-width: @tablet-width) {
  .social__list {
    border: 0;
    padding: 0;
    gap: 38px;
  }

  .social__link {
    margin-top: -5px;
    margin-left: -2px;

    &--youtube {
      margin-left: -6px;
    }
  }
}
