.text-field {
  position: relative;
  display: flex;
  flex-direction: column;
  position: relative;

  &:hover,
  &:focus,
  &:active {
    .text-field__input {
      border-color: @green-border-color;
    }

    .text-field__icon {
      color: @green-border-color;
      opacity: 1;
    }
  }
}

.text-field__label {
  .bold-middle-small-font;

  &--contacts {
    color: @light-green;
  }
}

.text-field__input {

  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: 0;
  outline: none;
  border-bottom: 2px solid @black;
  padding: 17px 0;

  &--additional-info {
    border: 2px solid @black;
    padding-left: 17px;
    width: 100%;
    box-sizing: border-box;
  }
}

.text-field__icon {
  position: absolute;
  right: 7px;
  bottom: 17px;
  opacity: 0.2;
}

@media (min-width: @tablet-width) {
  .text-field {
    display: flex;
    flex-direction: row;
  }

  .text-field__label {
    &--contacts {
      position: absolute;
      left: -167px;
    }
  }
}


@media (min-width: @desktop-width) {
  .text-field__label {
    &--contacts {
      left: -177px;
    }
  }
}
