.tutorial {
  border: 1px solid @light-gray;
  padding: 21px 45px 51px 45px;
}

.tutorial__title {
  .bold-middle-font;
}

.tutorial__description {
  .small-font;
  color: @light-black;
  margin: 0 0 59px 0;
}

.tutorial__order-button {
  padding: 0 23px 0 23px;
}
