.welcome-group__wrapper {
  margin: 0 auto;
  background-image: url("../img/main-welcome-background-mobile.jpg");
  background-size: auto;
  background-position: center top -17px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/main-welcome-background-mobile@2x.jpg");
    background-size: @mobile-width auto;
  }
}

.welcome-group {
  &--solid-background {
    background-color: @gray;
  }
}

.welcome-group__title {
  .font-700-27-30;
  text-align: center;
  margin: 0 auto;
  padding: 73px 0 120px 0;
  max-width: 1150px;

  &--solid-background {
    padding: 73px 0;
  }
}

.welcome-group__link {
  text-decoration: none;
  color: @black;
}

@media (min-width: @tablet-width) {
  .welcome-group__hyphenation {
    display: none;
  }

  .welcome-group__title {
    .font-700-43-50;
    padding: 153px 0 372px 0;

    &--solid-background {
      padding: 101px 0 85px 0;
    }
  }

  .welcome-group__wrapper {
    background-image: url("../img/main-welcome-background-desktop.jpg");
    background-size: auto 123%;
    background-position: center top 0;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/main-welcome-background-desktop@2x.jpg");
      background-size: @tablet-width auto;
    }
  }
}

@media (min-width: @desktop-width) {
  .welcome-group__title {
    .font-700-53-57;
    padding: 158px 0 355px 0;

    &--solid-background {
      padding: 101px 0 113px 0;
    }
  }

  .welcome-group__wrapper {
    background-size: auto 123%;
    background-position: center top -17px;
    background-repeat: no-repeat;
  }
}
