.welcome-group {
  padding: 73px 0 73px 0;
  background-color: @gray;
}

.welcome-group__title {
  .bold-bigger-font;
  text-align: center;
  margin: 0;
}

.welcome-group__link {
  text-decoration: none;
  color: @black;
}
