@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.small-font {
  font-size: 13px;
  line-height: 24px;
}
.bold-middle-smaller-font {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}
.bold-middle-small-font {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
.bold-middle-middle-font {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
.bold-middle-big-font {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
.bold-big-font {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.bold-bigger-font {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
}
.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page__body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  margin: 0;
}
.button {
  width: 100%;
  border: 2px solid #444444;
  color: #444444;
  margin: 0;
  padding: 16px 0 16px 0;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #fff;
}
.button:hover {
  background-color: #444444;
  color: #fff;
}
.button:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3);
}
.copyright__text {
  margin: 0;
}
.choice {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}
.choice input:checked + .choice__mark::after {
  opacity: 1;
}
.choice:hover .choice__mark {
  border-color: #62D1BA;
}
.choice:active .choice__mark {
  border-color: rgba(0, 0, 0, 0.3);
}
.choice__mark {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #444444;
  margin-right: 18px;
}
.choice__mark::after {
  position: absolute;
  right: 50%;
  bottom: 50%;
  background-color: #62D1BA;
  transform: translate(50%, 50%);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  content: "";
  opacity: 0;
}
.choice__mark--checkbox {
  border-radius: 0%;
  margin-right: 23px;
}
.choice__mark--checkbox::after {
  background-image: url("../img/checkmark.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 100px;
  height: 100px;
  border-radius: 0%;
}
.text-field {
  display: flex;
  flex-direction: column;
  position: relative;
}
.text-field:hover .text-field__input,
.text-field:focus .text-field__input,
.text-field:active .text-field__input {
  border-color: #62D1BA;
}
.text-field:hover .text-field__icon,
.text-field:focus .text-field__icon,
.text-field:active .text-field__icon {
  color: #62D1BA;
  opacity: 1;
}
.text-field__label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
.text-field__input {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  border: 0;
  outline: none;
  border-bottom: 2px solid #000;
  padding: 17px 0 17px 0;
}
.text-field__input--additional-info {
  border: 2px solid #000;
  margin: 22px 0 17px 0;
  padding-left: 17px;
  width: 100%;
  height: 142px;
}
.text-field__icon {
  position: absolute;
  right: 7px;
  bottom: 17px;
  opacity: 0.2;
}
.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 25px 0 28px 0;
}
.social__link {
  text-decoration: none;
  color: #231F20;
}
.copyright__link {
  text-decoration: none;
  color: #63D1BB;
}
.advantages {
  padding: 31px 30px 58px 30px;
}
.advantages__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 28px 0;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.advantages__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
}
.assortment__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.assortment__item {
  position: relative;
  background-color: #63D1BB;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #fff;
  padding: 24px 0 31px 30px;
}
.assortment__item:hover {
  top: -5px;
  padding: 24px 0 36px 30px;
  margin-bottom: -5px;
}
.assortment__item--toys {
  background-color: #56c3b2;
}
.best-product__wrapper {
  padding: 31px 30px 36px 30px;
}
.best-product__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}
.best-product__subtitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63D1BB;
  margin: 3px 0 0 0;
}
.best-product__description {
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  margin: 17px 0 28px 0;
}
.best-product__image {
  display: block;
  margin: 28px 0 25px 0;
}
.best-product__price {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #444444;
  margin-bottom: 24px;
}
.contacts {
  padding: 38px 30px 39px 30px;
}
.contacts__list {
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  margin: 28px 0 20px 0;
  padding: 0;
}
.contacts__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 42px;
}
.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 28px 0;
}
.contacts__map {
  display: block;
  margin: 0 0 41px -30px;
}
.contacts__email {
  text-decoration: none;
  color: #444444;
  border-bottom: 1px solid #62D1BA;
}
.contacts__email:hover {
  color: #46C1AE;
}
.contacts__email:active {
  color: #46C1AE;
  border-bottom: 1px solid rgba(70, 193, 174, 0.1);
}
.footer {
  background-color: #f1f1f1;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  padding: 29px 0 31px 0;
}
.header {
  display: flex;
  align-items: center;
  padding: 22px 31px 22px 116px;
}
.header__logo {
  display: block;
  margin-right: 67px;
}
.header__menu-toggle {
  width: 20px;
  height: 14px;
  border: 0;
  background-image: url("../img/menu-toggle.svg");
  background-color: #fff;
}
.main-welcome-group__wrapper {
  padding: 73px 0 120px 0;
  background-image: url("../img/main-welcome-background.jpg");
  background-position: 100% 20%;
}
.main-welcome-group__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0;
}
.order-form {
  padding: 17px 30px 55px 30px;
}
.order-form__legend {
  color: #63D1BB;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}
.order-form__wrapper {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.order-form__description {
  font-size: 13px;
  line-height: 24px;
}
.order-form__fields {
  margin-top: 29px;
}
.order-form__radios,
.order-form__checkboxes {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
.order-form__radios {
  margin: 30px 0 31px 0;
}
.order-form__checkboxes {
  margin: 25px 0 33px 0;
}
.order-form__client-names {
  margin-top: 7px;
}
.order-form__client-name {
  margin-top: 22px;
}
.order-form__phone-wrapper,
.order-form__email-wrapper {
  margin-top: 5px;
}
.order-form__phone,
.order-form__email,
.order-form__additional-info {
  margin-top: 34px;
}
.order-form__warning {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}
.product-features {
  color: #444444;
}
.product-features__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 12px 0 13px 0;
  border-bottom: 1px solid #ececec;
}
.product-features__info {
  margin: 0;
}
.products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-top: 30px;
}
.products__card {
  border: 1px solid #ececec;
  margin: 0 30px 30px 30px;
}
.products__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-left: 28px;
  color: #000;
}
.products__title:hover {
  color: rgba(0, 0, 0, 0.6);
}
.products__title:active {
  color: rgba(0, 0, 0, 0.3);
}
.products__description {
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  margin: 0 28px 17px 28px;
  border-bottom: 1px solid #ececec;
}
.products__price {
  display: block;
  margin: 22px 0 26px 22px;
}
.products__link {
  text-decoration: none;
}
.reviews {
  padding: 0 30px 0 30px;
}
.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}
.reviews__text {
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.reviews__user-name {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
.reviews__user-nick {
  font-size: 17px;
  line-height: 30px;
}
.reviews__toggles {
  display: flex;
  margin-bottom: 38px;
}
.reviews__toggle {
  width: 128px;
  height: 50px;
  border: 1px solid #ececec;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}
.reviews__toggle:hover {
  color: rgba(0, 0, 0, 0.6);
}
.reviews__toggle:active {
  color: rgba(0, 0, 0, 0.3);
}
.tutorial {
  border: 1px solid #ececec;
  padding: 21px 45px 51px 45px;
}
.tutorial__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
.tutorial__description {
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin: 0 0 59px 0;
}
.tutorial__order-button {
  padding: 0 23px 0 23px;
}
.welcome-group {
  padding: 73px 0 73px 0;
  background-color: #f1f1f1;
}
.welcome-group__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  margin: 0;
}
.welcome-group__link {
  text-decoration: none;
  color: #000;
}
/*# sourceMappingURL=style.css.map */
