.additional-info__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}
.advantages {
  padding-top: 31px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 58px;
}
.advantages__title {
  margin: 0;
  padding-bottom: 28px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
.advantages__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  padding-bottom: 10px;
}
.assortment__item {
  background-color: #63d1bb;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 24px;
  padding-bottom: 31px;
  padding-left: 30px;
}
.assortment__item-toys {
  background-color: #56c3b2;
}
.best-product__wrapper {
  padding-top: 31px;
  padding-bottom: 36px;
  padding-left: 30px;
  padding-right: 30px;
}
.best-product__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}
.best-product__subtitle {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
  padding-top: 3px;
  margin: 0;
}
.best-product__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
  padding-top: 17px;
  padding-bottom: 28px;
}
.best-product__image {
  display: block;
  padding-top: 28px;
  padding-bottom: 25px;
}
.best-product__price {
  display: block;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #444444;
  padding-bottom: 24px;
}
.button {
  width: 260px;
  border: 2px solid #444444;
  color: #444444;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #ffffff;
}
.clear-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.client-email__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}
.client-fullname__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}
.client-fullname__name-label,
.client-fullname__surname-label,
.client-fullname__patronymic-label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
.client-fullname__name,
.client-fullname__surname,
.client-fullname__patronymic {
  display: flex;
  flex-direction: column;
}
.client-phone__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}
.contacts {
  padding-top: 38px;
  padding-bottom: 39px;
}
.contacts__list {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 28px;
  padding-bottom: 20px;
}
.contacts__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 42px;
}
.contacts__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
  padding-left: 30px;
}
.contacts__map {
  display: block;
  padding-bottom: 41px;
}
.contacts__feedback-button {
  margin-left: 30px;
}
.footer {
  background-color: #f1f1f1;
}
.footer__copyright {
  display: flex;
  justify-content: center;
  padding-top: 29px;
  padding-bottom: 31px;
}
.social__list {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 28px;
}
.copyright__text {
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
}
.header__logo {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 116px;
  margin-right: 67px;
}
.header__menu-toggle {
  width: 20px;
  height: 14px;
  padding: 0;
  border: 0;
  margin-right: 31px;
  background-image: url("../img/menu-toggle.svg");
}
.main-welcome-group__wrapper {
  height: 283px;
  background-image: url("../img/main-welcome-background.jpg");
  background-position: 100% 20%;
}
.main-welcome-group__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  padding-top: 73px;
  margin: 0;
}
.order-form {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 55px;
}
.order-form__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}
.order-form__warning {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/opensans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
.page__body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  width: 320px;
  border: 1px solid #000000;
}
.product-color__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}
.product-color__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
.product-features {
  color: #444444;
}
.product-features__item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 12px;
  padding-bottom: 13px;
  border-bottom: 1px solid #ececec;
}
.product-features__title,
.product-features__description {
  margin: 0;
}
.product-type__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}
.product-type__item {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}
.products__list {
  margin-top: 30px;
}
.products__card {
  border: 1px solid #ececec;
  margin: 30px;
  margin-top: 0;
}
.products__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding-left: 28px;
}
.products__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  margin-left: 28px;
  margin-right: 28px;
  padding-bottom: 17px;
  border-bottom: 1px solid #ececec;
}
.products__price {
  display: block;
  padding-top: 22px;
  padding-left: 28px;
  padding-bottom: 26px;
}
.reviews {
  padding-left: 30px;
  padding-right: 30px;
}
.reviews__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}
.reviews__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.reviews__user-name {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
.reviews__user-nick {
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
}
.reviews__toggles {
  display: flex;
  margin-bottom: 38px;
}
.reviews__toggle {
  width: 128px;
  height: 50px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
}
.reviews__toggle-before {
  background-image: url("../img/review-toggle-arrow-before.svg");
  background-position: center;
}
.reviews__toggle-after {
  background-image: url("../img/review-toggle-arrow-after.svg");
}
.tutorial {
  border: 1px solid #ececec;
  padding-top: 21px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 51px;
}
.tutorial__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}
.tutorial__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  padding-bottom: 59px;
}
.tutorial__order-button {
  padding-left: 23px;
  padding-right: 23px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.welcome-group {
  height: 177px;
  background-color: #f1f1f1;
}
.welcome-group__title {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  padding-top: 73px;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */
