.client-fullname__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @light-green;
  text-transform: uppercase;
}

.client-fullname__name-label,
.client-fullname__surname-label,
.client-fullname__patronymic-label {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.client-fullname__name,
.client-fullname__surname,
.client-fullname__patronymic {
  display: flex;
  flex-direction: column;
}
