.small-font {
  font-size: 13px;
  line-height: 24px;
}

.bold-middle-smaller-font {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}

.bold-middle-small-font {
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.bold-middle-middle-font {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.bold-middle-big-font {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.bold-big-font {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.bold-bigger-font {
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
}
