// Colors
@light-green: #63d1bb;
@dark-green: #56c3b2;
@green-border-color: #62d1ba;
@mark-color: #6bc6b3;
@email-hover-active-color: #46c1ae;
@email-hover-active-color01: rgba(70, 193, 174, 0.1);
@white: #fff;
@white03: rgba(255, 255, 255, 0.3);
@black: #000;
@light-black: #444444;
@light-grey: #ececec;
@grey-border-color:#e5e5e5;
@grey: #f1f1f1;
@welcome-background-color: #fafafa;
@black01: rgba(0, 0, 0, 0.1);
@black03: rgba(0, 0, 0, 0.3);
@black06: rgba(0, 0, 0, 0.6);
@social-color: #231f20;
// Viewports
@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1150px;
@desktop-width-max: 1440px;
