// Colors
//Green
@light-green: #63d1bb;
@dark-green: #56c3b2;
@green-border-color: #62d1ba;
@mark-color: #6bc6b3;
@email-hover-active-color: #46c1ae;
@email-hover-active-color01: #edf9f7;
@tutorial-light-green: #d0f1eb;
//White
@white: #fff;
@white03: rgba(255, 255, 255, 0.3);
@white09: rgba(255, 255, 255, 0.9);
//Black
@black: #000;
@black01: rgba(0, 0, 0, 0.1);
@black02: rgba(0, 0, 0, 0.2);
@black03: rgba(0, 0, 0, 0.3);
@black06: rgba(0, 0, 0, 0.6);
@light-black: #444444;
@social-color: #231f20;
//Grey
@gray: #f1f1f1;
@welcome-background-color: #fafafa;
@light-gray: #ececec;
@gray-border-color:#e5e5e5;

// Viewports
@mobile-width: 320px;
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1150px;

//Sizes
@play-icon-width: 101px;
@play-icon-height: 77px;
@mobile-width-padding30: 260px;
@tablet-width-padding50: 668px;
@desktop-width-padding50: 1050px;
